::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: rgb(239, 239, 239);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #bfbfbf;
}

::-webkit-scrollbar-corner {
  background: #bfbfbf;
}
body {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  background: linear-gradient(135deg, rgba(70, 26, 255, 0.1), rgba(109, 74, 255, 0.15));
  font-family: 'Courier New', Courier, monospace;
}

* {
  box-sizing: border-box;
}

.drag {
  /* 设置该属性表明这是可拖拽区域，用来移动窗口 */
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

//去除 el-dropdown 边框
.el-dropdown,
.el-dropdown * {
  outline: none;
}

